
<template>
  <div class="wrapper" @click="$emit('handle-click')">
    <label>
      {{ task.label }}
    </label>
  </div>
</template>

<script>
export default {
  name: 'Tasks',
  props: {
    task: {
      label: String,
      isChcked: Boolean,
    },
  },
};
</script>

<style scoped lang="scss">
.wrapper {
  display: flex;
  flex-direction: row;
  padding: 0 10px;
  height: 40px;
  border: 1px solid dimgray;
  border-radius: 3px;
  margin-bottom: 10px;
  
  &, & > * {
    cursor: pointer;
  }

  &:last-child {
    margin-bottom: 0;
  }

  label {
    align-self: center;
  }
}
</style>