
<template>
  <input
    class="wrapper"
    v-model="value"
    @keyup="handleChange"
    placeholder="Describe your task here..."
  />
</template>

<script>
export default {
  name: 'NewTaskInput',
  data: () => ({
    value: '',
  }),
  methods: {
    handleChange() {
      this.$emit('on-change', this.value)
    },
  },
};
</script>

<style lang="scss" scoped>
  .wrapper {
    flex-grow: 1;
    width: 1px;
    margin-right: 10px;
    border-radius: 3px;
    border: 1px solid dimgray;
    padding-left: 10px;
    max-height: 40px;
    font-size: 16px;
  }
</style>
