
<template>
  <button 
    class="wrapper" 
    @click="$emit('on-click')"
    type="submit"
  >
    new task
  </button>
</template>

<script>
export default {
  name: 'NewTaskButton',
}
</script>

<style lang="scss" scoped>
  .wrapper {
    padding: 0 10px;
    display: flex;
    justify-content: center;
    height: 100%;
    background: none;
    border-radius: 3px;
    align-self: center;
    text-transform: uppercase;
    border: 1px solid dimgray;
    margin: 0;
    height: 40px;

    &, & > * {
      cursor: pointer;
    }
  }
</style>
