
<template>
  <h1 class='wrapper'>
    The Amazing TO-DO
  </h1>
</template>

<script>
export default {
  name: 'Title',
}
</script>

<style scoped lang="scss">
  .wrapper {
    color: dimgray;
    align-self: center;
    margin-bottom: 50px;
  }
</style>